:root {
  --first-row-height: 50%;
  --second-row-height: 50%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.ide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(50px,var(--first-row-height)) minmax(50px,var(--second-row-height));
  height: calc(100% - 1.5em);
  width:100%;
  /* height: 100%; */
}

.top_left {
  grid-row: 1;
  grid-column: 1;
  width:100%;
  height:100%;
  background-color: gray;
  position: relative;
  /* border: solid; */
}

.top_right {
  grid-row: 1;
  grid-column: 2;
  /* border: solid; */
}

.bottom_left {
  grid-row: 2;
  grid-column: 1;
  border: solid;
  position: relative;
}

.bottom_right {
  grid-row: 2;
  grid-column: 2;
  border: solid;
}
